<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528991544754-itc6ujlnaprlp9doa8od2vfglfg00t7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528991544754-itc6ujlnaprlp9doa8od2vfglfg00t7o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>528991544754-9vqkp1fncs8nrsfotne2mnjb9oqgfikj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsRUzXw2XhHNf5G-dOqTmakLHGIEoGDYg</string>
	<key>GCM_SENDER_ID</key>
	<string>528991544754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wehere</string>
	<key>PROJECT_ID</key>
	<string>wehere-ec3f6</string>
	<key>STORAGE_BUCKET</key>
	<string>wehere-ec3f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528991544754:ios:4d7d7169456f97857b30ab</string>
</dict>
</plist>